<h1><%=@task.title%></h1>
<%= link_to("Edit the task", edit_path(@task.id)) %>

<p class="background-grey"><%= @task.details%></p>

<% if @task.completed == false %>
  <p>This task is not completed yet</p>
<%else %>
  <p>This task is completed </p>
<%end %>

<p>
  <i class="fa-solid fa-rotate-left"></i>
  <%= link_to("Back to list", tasks_path) %>
</p>
